h3{
    color: white;
    margin-bottom: 6%;
}
li{
    margin-left: 10%;
}
.options{
    color: #7070de;
    text-decoration: none;

}

.links:link{

}
.links:visited{
    text-decoration: none;
}

.options:hover{
    color: #505085;
    border-bottom: 2px solid #3f3fa1;
    padding-left: 5%;
    background-color: white;
}

.links:focus{

}

.btnSidebar{
    color: #f3ecec !important;
    padding: 1% !important;
    display: inline-flex  !important;
    justify-content: center !important;
}

.btnSidebar:hover{
    text-decoration: none !important;
}

