*{
    margin: 0;
    padding: 0;
}

#container{
    color: white;
    background-color: #505085;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(9,1fr);
    grid-template-areas:
            'headerG headerG headerG headerG'
            'navG navG navG navG'
            'asideG  ContentG ContentG ContentG'
            'asideG  ContentG ContentG ContentG'
            'asideG  ContentG ContentG ContentG'
            'asideG  ContentG ContentG ContentG'
            'asideG  ContentG ContentG ContentG'
            'asideG ContentG ContentG ContentG'
            'footerG footerG footerG footerG';
    margin: 0px;
    height: 100Vh;
}
header h1{
    display: inline;
}
header{
    grid-area:headerG ;

    display: grid;
    justify-content: center;
    align-content: center;
   /* border: 1px solid #8f8fd3;
    border-radius: 5px;
    box-sizing: border-box;*/

}


nav{
    grid-area: navG;
    text-align: end;
    padding-right: 5%;
    /*border: 1px solid #8f8fd3;
    border-radius: 5px;
    box-sizing: border-box;*/

}

aside{
    grid-area: asideG;
    padding-left: 5%;
    padding-top: 3%;
    border-right: 1px solid #8f8fd3;
    border-radius: 5px;
    box-sizing: border-box;
}

aside h3{
    text-align: center;
}

article{
    grid-area:ContentG ;
    display: grid;
    justify-content: center;
    align-content: center;
    /*border: 1px solid #8f8fd3;
    border-radius: 5px;
    box-sizing: border-box;*/
}

footer{
    grid-area: footerG;
    text-align: center;
    font-size: 9pt;
    /*border: 1px solid #8f8fd3;
    border-radius: 5px;
    box-sizing: border-box;*/
}

