article{
    display: flex;
    flex-direction: column;
    padding: 2%;
    gap: 2%;
    justify-content: start;
}

.table__typeuser{
    overflow:auto !important;
    display: flex;
    justify-content: center ;
}